# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android specific
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/.gradle/
*.keystore

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS specific
/ios/Pods/
/ios/.symlinks/

# Windows specific
/windows/flutter/ephemeral/

# macOS specific
/macos/Flutter/ephemeral/
/macos/Flutter/GeneratedPluginRegistrant.swift

# Linux specific
/linux/flutter/ephemeral/